
<head>

      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



</head>



<body>
  <script type="text/javascript" src="js/materialize.min.js"></script>
 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">GROCERY SITE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/search">Search</a></li>
      </ul>
    </div>
  </nav>


    {% block content %}
    {% endblock %}


</body>