<!-- this extends the header.html -->
{% extends "header.html" %}
{% block content %}


    <style>
         #background {
             left: 70;
             right: 50;
             width: 50%;
             height: 100%;
             padding-top: 10;
            margin: auto;



}
    </style>
    <style>
             .box-1 {
             color: white;
             font-family: arial, Helvetica, sans-serif;
             font-size: 12px;
             width:500%;
             margin: 20px 0;
                 border:5px dotted #ccc;
                 padding:20px;
                 font: normal 12px Arial, Helvetica, sans-serif;
                 line-height: 1.6em;
                 font-weight: normal;
        }

         .container-1{
            width: 15%;
             margin: 10;
         }
             .box-1 h1{
             font-family: Tahoma;
             font-weight: 800;
             font-style: italic;
             text-decoration: underline;
         }
    </style>
    <body style="background:url(https://wallpaperset.com/w/full/9/8/2/446907.jpg) no-repeat ;background-size: 100%" >

   <!--
       	<div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
            <form action="{% url 'search_results' %}" method="get">
              <input name="q" type="text" placeholder="Search for Groceries">
              </div>
            </form>
           </div>
        </div>
        -->
    <!--
    LINKS:
    <ul>
        <li><a href="../">home</a></li>
    </ul>
    -->
    <div id="background">
    <br/>


    <div class="container-1">
        <div class="box-1">
            <h1>Hungry?! LETS EAT!!</h1>
          <p>
              search for food items such as apples, bananas, watermelons, or just press search to see some suggestions.

              HERE IS A RANDOM QUOTE:
              When you think of your BIG goal, sometimes you start feeling overwhelmed.
              Why? Because big goals don’t get achieved right away. Instead, you need to create mini
              goals to help excite you along the way. This way you can be more goal-orientated and build a habit
              of being more effective. Celebrating your small wins will help you stay motivated through your journey.
              Plus, celebrating is always super fun. Maybe you break your goal down to 10 small-sized goals with tasks
              that get you on track to achieve them. For each of the 10 goals you can add a small celebration.
              Maybe a glass of champagne for one or a dessert with a sparkler on top for another.
              ’t forget to check out some of our motivational quotes about success in a later section.
          </p>
        </div>
    </div>



                           <form action="{% url 'search_results' %}" method="get">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input name="q" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for groceries">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>

{% endblock %}